/* Google Font Link (Montserrat) + (Raleway)*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

/* Root */

:root {
    --txt-color-1:#44DD61;
    --txt-color-2:#65EC95;
    --txt-color-3:#fff;
    --bg-color-1:rgba(255,255,255,0.13);
    --bg-color-2:#26b7e7;
}

/* Main-Header */

/* First Header */

.main-header-cont .top-header .social-media i {
    background-color: rgba(255,255,255,0.13);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    transition: all ease 0.2s;
}

.main-header-cont .top-header .social-media i:nth-child(1):hover {
    background-color: #3B67EA;
    cursor: pointer;
}

.main-header-cont .top-header .social-media i:nth-child(2):hover {
    background-color: #2EC3F5;
    cursor: pointer;
}

.main-header-cont .top-header .social-media i:nth-child(3):hover {
    background-color: #007AB5;
    cursor: pointer;
}

.main-header-cont .top-header .social-media i:nth-child(4):hover {
    background-color: #DF4B38;
    cursor: pointer;
}

.main-header-cont .top-header .contact .icon-cont:hover {
    cursor: pointer;
}

/* Second Header */

.navbar .container-fluid .collapse .cart i {
    background-color: rgba(255,255,255,0.13);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 13px;
    font-size: 14px;
    color: var(--txt-color-1);
    transition: all ease 0.6s;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-weight: 700;
    font-size: 15px;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
    color: var(--txt-color-1) !important;
}

.navbar .container-fluid .collapse .cart i:hover {
    cursor: pointer;
    background-color: #fff;
}

/* Body */

.main .hero-section {
    height: 120vh;
    background-image: url(./images/hero-sec-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .main .hero-section img {
    margin-top: 300px;
} */

.main .hero-section h1 {
    margin-top: 70px;
    font-size: 40px;
    font-weight: 700;
    color: var(--txt-color-2);
    text-transform: uppercase;
}

.main .hero-section h3 {
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 500;
    color: var(--txt-color-3);
    text-transform: uppercase;
}

.main .hero-section .btn-cont {
    margin-top: 50px;
    width: 30%;
}

.main .hero-section .btn-cont button {
    border: 2px solid var(--txt-color-1);
    color: var(--txt-color-1);
    background-color: transparent;
    font-weight: 600;
    padding: 18px 50px;
    border-radius: 50px;
    transition: all ease 0.3s;
}

.main .hero-section .btn-cont button:hover {
    background-color: var(--txt-color-1);
    color: var(--txt-color-3);
}

.main .hero-section .btn-cont button:nth-child(2) {
    border: none;
    background: linear-gradient(90deg, rgba(38,183,231,1) 0%, rgba(66,219,102,1) 100%);
    color: var(--txt-color-3);
}

.main .hero-section .btn-cont button:nth-child(2):hover {
    background: rgb(38,183,231);
}

/* section 2 */

.main .analytics {
    width: 70%;
    margin-top: -170px;
}

.main .analytics .box {
    width: 100%;
    padding: 40px 40px;
    height: 350px;
    background-color: #44DD61;
    transition: all ease 0.5s;
}

.main .analytics .box:hover {
    cursor: pointer;
    background-color: #26B7E7;
}

.main .analytics .box i {
    font-size: 60px;
    color: #B9E8F7;
}

.main .analytics .box h1 {
    margin-top: 10px;
    font-size: 48px;
    color: var(--txt-color-3);
    font-weight: 700;
}

.main .analytics .box h5 {
    font-size: 20px;
    color: var(--txt-color-3);
    font-weight: 400;
}

.main .analytics .box hr {
    width: 20%;
    border: 2px solid var(--txt-color-3);
    margin: 20px auto;
}

.main .analytics .box p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: var(--txt-color-3);
    font-weight: 400;
}

/* Services Section */

.main .services-section {
    background-image: url(./images/network.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .services-section h1{
    color: #2A252C;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.main .services-section .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px auto;
    height: 5px;
    border-radius: 5px;
}

.main .services-section p {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #9D9F9F;
    font-weight: 400;
}

.main .services-section .services-cont {
    margin-top: 50px;
}

.main .services-section .services-cont .img-container img{
    width: 75%;
}

.main .services-section .services-cont .service {
    padding: 10px 10px;
    transition: all ease 0.6s;
    max-width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
}

.main .services-section .services-cont .service .icon i{
    color: var(--txt-color-1);
    font-size: 30px;
}

.main .services-section .services-cont .service .content {
    text-align: left;
}

.main .services-section .services-cont .service .content h4 {
    font-size: 16px;
    font-weight: 400;
}

.main .services-section .services-cont .service:hover h4 {
    color: var(--txt-color-1);
}

.main .services-section .services-cont .service .content p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.main .services-section .services-cont .service .content a {
    display: none;
    transition: all ease 0.3s;
    text-align: right;
    color: #9D9F9F;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
}

.main .services-section .services-cont .service .content a:hover {
    color: var(--txt-color-1);
}

.main .services-section .services-cont .service:hover a{
    display: inline-block;
}

.main .services-section .services-cont .service:hover {
    scale: 1.1;
}

/* Proposal Section */

.main .proposal {
    margin-top: 50px;
    padding: 80px 180px;
    background-image: url(./images/cta1.jpg);
    background-repeat: no-repeat;
}

.main .proposal .content {
    width: 60%;
}

.main .proposal .content h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    color: var(--txt-color-3);
}

.main .proposal .content .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px 0px;
    height: 5px;
    border-radius: 5px;
}

.main .proposal .content p {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--txt-color-3);
}

.main .proposal .btn-cont {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.main .proposal .btn-cont button {
    border: none;
    /* border: 2px solid var(--txt-color-1); */
    color: #2A252C;
    background-color: var(--txt-color-3);
    font-weight: 600;
    padding: 18px 50px;
    border-radius: 50px;
    transition: all ease 0.3s;
    width: 100%;
}

.main .proposal .btn-cont button:hover {
    background-color: var(--txt-color-1);
    color: var(--txt-color-3);
}

.main .proposal .btn-cont button:nth-child(1) {
    border: none;
    background: linear-gradient(90deg, rgba(38,183,231,1) 0%, rgba(66,219,102,1) 100%);
    color: var(--txt-color-3);
}

.main .proposal .btn-cont button:nth-child(1):hover {
    background: rgb(38,183,231);
}

/* Our Projects Section */

.main .projects-cont {
    margin-top: 50px;
    background-image: url(./images/network-reverse.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main .projects-cont h1{
    color: #2A252C;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.main .projects-cont .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px auto;
    height: 5px;
    border-radius: 5px;
}

.main .projects-cont p {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #9D9F9F;
    font-weight: 400;
}

.main .projects-cont .categories-link {
    margin-top: 30px;
}

.main .projects-cont .categories-link a{
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all ease 0.3s;
    font-size: 14px;
    text-transform: uppercase;
    color: #9D9F9F;
    text-decoration: none;
    padding: 10px 15px;
}

.main .projects-cont .categories-link a:nth-child(1) {
    color: #000;
}

.main .projects-cont .categories-link a:hover {
    border-radius: 25px;
    padding: 10px 15px;
    border: 1px solid var(--txt-color-1);
    color: #000;
}

.main .projects-cont .projects {
    width: 90%;
    margin-top: 10px;
    max-width: 100%;
}

.main .projects-cont .projects .project {
    position: relative;
    max-width: 100%;   
    margin-top: 20px;
}


.main .projects-cont .projects .project img {
    width: 100%;
}

.main .projects-cont .projects .project:hover .overlay i{
    display: block;
}

.main .projects-cont .projects .project .overlay i{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--txt-color-1);
    display: none;
    opacity: 0.5;
}

/* Why Us Section*/

.main .whyus-section {
    background-image: url(./images/benefits.jpg);
    position: relative;
    margin-top: 150px;
    background-color: #F3F3F3;
    padding: 20px;
    height: 900px;
}

.main .whyus-section .main-box {
    margin: 100px auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    height: 400px;
    rotate: 45deg;
}

.main .whyus-section .main-box .content {
    rotate: -45deg;
}

.main .whyus-section .main-box .content .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px auto;
    height: 5px;
    border-radius: 5px;
}

.main .whyus-section .main-box .content p {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.main .whyus-section .box-1 {
    transition: all ease 0.3s;
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 1), rgba(38, 183, 231, 1)), url(./images/ben1.jpg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
    width: 200px;
    height: 200px;
    rotate: 45deg;
    top: 20px;
    left: 430px;
}

.main .whyus-section .box-1:hover {
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 0.7), rgba(38, 183, 231, 0.7)), url(./images/ben1.jpg);
}

.main .whyus-section .box-1 .content {
    rotate: -45deg;
}

.main .whyus-section .box-1 .content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
}

.main .whyus-section .box-2 {
    transition: all ease 0.3s;
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 1), rgba(38, 183, 231, 1)), url(./images/ben2.jpg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
    width: 250px;
    height: 250px;
    rotate: 45deg;
    top: 20px;
    right: 200px;
}

.main .whyus-section .box-2:hover {
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 0.7), rgba(38, 183, 231, 0.7)), url(./images/ben2.jpg);
}

.main .whyus-section .box-2 .content {
    rotate: -45deg;
}

.main .whyus-section .box-2 .content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
}

.main .whyus-section .box-3 {
    transition: all ease 0.3s;
    background-image: linear-gradient(45deg, rgba(68, 221, 97, 0.7), rgba(68, 221, 97, 0.7)), url(./images/ben3.jpg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--txt-color-1);
    width: 250px;
    height: 250px;
    rotate: 45deg;
    bottom: 250px;
    left: 150px;
}

.main .whyus-section .box-3:hover {
    background-image: linear-gradient(45deg, rgba(68, 221, 97, 1), rgba(68, 221, 97, 1)), url(./images/ben3.jpg);
}

.main .whyus-section .box-3 .content {
    rotate: -45deg;
}

.main .whyus-section .box-3 .content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
}

.main .whyus-section .box-4 {
    transition: all ease 0.3s;
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 1), rgba(38, 183, 231, 1)), url(./images/ben4.jpg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
    width: 200px;
    height: 200px;
    rotate: 45deg;
    bottom: 150px;
    left: 500px;
}

.main .whyus-section .box-4:hover {
    background-image: linear-gradient(45deg, rgba(38, 183, 231, 0.7), rgba(38, 183, 231, 0.7)), url(./images/ben4.jpg);
}

.main .whyus-section .box-4 .content {
    rotate: -45deg;
}

.main .whyus-section .box-4 .content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
}

.main .whyus-section .box-5 {
    transition: all ease 0.3s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgba(68, 221, 97, 0.7), rgba(68, 221, 97, 0.7)), url(./images/ben1.jpg);
    width: 230px;
    height: 230px;
    rotate: 45deg;
    bottom: 150px;
    right: 250px;
}

.main .whyus-section .box-5:hover {
    background-image:
    linear-gradient(45deg,
    rgba(68, 221, 97, 1),
    rgba(68, 221, 97, 1)), 
          url(./images/ben1.jpg);
}

.main .whyus-section .box-5 .content {
    rotate: -45deg;
}

.main .whyus-section .box-5 .content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
}

/* Team Section */

.main .team-section {
    padding: 50px 0px;
    background-image: url(./images/team_bgr.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .team-section h1{ 
    text-align: center;
    color: var(--txt-color-3);
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.main .team-section .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px auto;
    height: 5px;
    border-radius: 5px;
}

.main .team-section p {
    text-align: center;
    width: 40%;
    margin: 0px auto;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #9D9F9F;
    font-weight: 400;
}

.main .team-section .team-cont {
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.main .team-section .team-cont .team-card {
    height: 300px;
    background-color: var(--txt-color-3);
    display: flex;
}

.main .team-section .team-cont .team-card .img-cont{
    transition: all ease 0.6s;
    width: 45%;
    background-image: linear-gradient(45deg,rgba(68, 221, 97, 0),rgba(68, 221, 97, 0)), url(./images/member5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main .team-section .team-cont .team-card .img-cont:hover {
    background-image: linear-gradient(45deg,rgba(68, 221, 97, 0.7),rgba(68, 221, 97, 0.7)), url(./images/member5.jpg);
}

/* .main .team-section .team-cont .team-card .img-cont img {
    width: 100%;
    height: 100%;
} */

.main .team-section .team-cont .team-card .content-container {
    align-self: center;
    width: 55%;
    padding: 20px 20px;
}

.main .team-section .team-cont .team-card .content-container h4 {
    font-size: 20px;    
    font-weight: 700;
}

.main .team-section .team-cont .team-card .content-container h6 {
    font-size: 12px;    
    font-weight: 400;
    color: var(--txt-color-1);
}

.main .team-section .team-cont .team-card .content-container hr {
    width: 10%;
    border: 1px solid #2A252C;
}

.main .team-section .team-cont .team-card .content-container p {
    width: 100%;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #9D9F9F;
    font-weight: 400;
}

.main .team-section .team-cont .team-card .content-container .social {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.main .team-section .team-cont .team-card .content-container .social i {
    width: 30px;
    background-color: #DDDEDE;
    padding: 7px;
    text-align: center;
    border-radius: 50%;
    color: var(--txt-color-3);
    transition: all ease 0.3s;
}

.main .team-section .team-cont .team-card .content-container .social i:nth-child(1):hover {
    background-color: #2551F6;
    cursor: pointer;
}

.main .team-section .team-cont .team-card .content-container .social i:nth-child(2):hover {
    background-color: #456EE9;
    cursor: pointer;
}

.main .team-section .team-cont .team-card .content-container .social i:nth-child(3):hover {
    background-color: #F41819;
    cursor: pointer;
}

.main .team-section .team-cont .team-card .content-container .social i:nth-child(4):hover {
    background-color: #2FC3F5;
    cursor: pointer;
}

.main .team-section .team-cont .team-card .content-container .social i:nth-child(1):hover {
    background-color: #007AB5;
    cursor: pointer;
}

/* Proposal 2 */

.main .proposal-2 {
    position: relative;
    margin: 50px 0px;
}

.main .proposal-2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.main .proposal-2 .content {
    padding: 50px 140px;
}

.main .proposal-2 .content h1 {
    font-size: 40px;
    color: var(--txt-color-3);
}

.main .proposal-2 .content p {
    color: var(--txt-color-3);
}

.main .proposal-2 .content button {
    margin-top: 20px;
    border: none;
    background-color: #ebebeb59;
    font-size: 18px;
    font-weight: 700;
    color: var(--txt-color-3);
    padding: 12px 30px;
    border-radius: 25px;
    transition: all ease 0.5s;
}

.main .proposal-2 .content button:hover {
    background-color: var(--txt-color-3);
}

/* Testimonials */

.main .testimonial h1{
    text-align: center;
    color: #2A252C;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.main .testimonial .line {
    background-color: var(--txt-color-1);
    width: 50px;
    margin: 30px auto;
    height: 5px;
    border-radius: 5px;
}

.main .testimonial p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: #9D9F9F;
    font-weight: 400;
}

.main .testimonial .t-slider {
    width: 80%;
    margin: 0px auto;
    height: 300px;
}

.main .testimonial .t-slider .carousel-inner .carousel-item img {
    height: 100%;
    width: 100%;
}

/* Clients */

.main .clients {
    margin: 150px auto;
    display: flex;
    width: 80%;
}

.main .clients .box {
    padding: 80px 60px;
    border: 1px solid#e0e0e0;
    transition: all ease 0.3s;
}

.main .clients .box:hover {
    border: 1px solid var(--txt-color-1);
}

.main .clients .box img {
    width: 100%;
    height: 100%;
}

/* Proposal 3 */

.main .proposal-3 {
    padding: 30px 130px;
    background-image: url(./images/graph.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}

.main .proposal-3 .content h1 {
    font-size: 22px;
    font-weight: 400;
}

.main .proposal-3 .content p{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.main .proposal-3 .btn-cont button {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    background-color: #fff;
    /* border: 1px solid green; */
    border-radius: 25px;
    padding: 15px 30px;
    font-weight: 700;
    color: #2A252C;
    transition: all ease 0.5s;
}

.main .proposal-3 .btn-cont button:hover {
    color: var(--txt-color-3);
    background-color: var(--txt-color-1);
}

/* Footer */

footer {
    height: 100%;
}

footer .content-cont {
    height: 500px;
    display: flex;
}

footer .content-cont .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/vt5.jpg);
    background-position: center center;
    background-size: cover;
}

footer .content-cont .left h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--txt-color-3);
}

footer .content-cont .left h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--txt-color-3);
}

footer .content-cont .left .icon-box {
    display: flex;
    gap: 10px;
}

footer .content-cont .left .icon-box .icon i {
    font-size: 16px;
    color: var(--txt-color-3);
}

footer .content-cont .left .icon-box .txt p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: var(--txt-color-3);
}

footer .content-cont button {
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(38,183,231,1) 0%, rgba(66,219,102,1) 100%);
    border: none;
    color: var(--txt-color-3);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 25px;
    transition: all ease 0.5s;
}

footer .content-cont .right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/clipart6.jpg);
    width: 40%;
    gap: 20px;
}

footer .content-cont .right i {
    font-size: 25px;
    width: 60px;
    background-color: #dddede2f;
    padding: 18px;
    text-align: center;
    border-radius: 50%;
    color: var(--txt-color-3);
    transition: all ease 0.3s;
}

footer .content-cont .right i:nth-child(1):hover {
    background-color: #2551F6;
    cursor: pointer;
}

footer .content-cont .right i:nth-child(3):hover {
    background-color: #456EE9;
    cursor: pointer;
}

footer .content-cont .right i:nth-child(4):hover {
    background-color: #F41819;
    cursor: pointer;
}

footer .content-cont .right i:nth-child(2):hover {
    background-color: #2FC3F5;
    cursor: pointer;
}

footer .copyright {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--txt-color-1);
}

footer .copyright label {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.616);
    border-radius: 25px;
    padding: 0px 0px 0px 10px;
}

footer .copyright label i {
    color: var(--txt-color-3);
}

footer .copyright label input {
    border: none;
    background: transparent;
}

footer .copyright label button {
    font-size: 15px;
    color: var(--txt-color-3);
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.432);
}

footer .copyright p {
    color: var(--txt-color-3);
}